* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
}

body {
	font-family: 'lato', sans-serif;
}

/*----------------------COMMON*/
.row {
	display: flex;
	margin: 0 -15px;
}
.col {
	padding: 0 15px;
}

.container {
	max-width: 1370px;
	margin: 0 auto;
	padding: 0 15px;
}
:root {
	--main-green: #01996d;
	--green: #245852;
	--hover-green: #003300;
	--main-black: #424242;
	--50: 50px;

}

.alivio-button-style {
	color: #fff;
	background-color: var(--main-green);
	outline: none;
	cursor: pointer;
	border: none;
	transition: all 0.3s;
	border-radius: 3px;
	padding: 20px 50px;
	font-size: 20px;

}

.alivio-button-style:hover {
	background-color: var(--hover-green);
}

.alivio-title {
	font-family: 'Georgia' , sans-serif;
	font-weight: bold;
	font-size: 65px;
	line-height: 74px;
	color: var(--main-green);
}

.flex-end {
	align-self: flex-end;
}
.menu-burger {
	display: none;
}

.menu-burger button {
	position: relative;
	outline: none;
}
.menu-burger-btn {
	width: 60px;
	height: 40px;
	padding: 0;
	border: 0;
	background: none;
	margin: 0 auto;
	display: block;
}
.menu-burger-btn span {
	width: 100%;
	height: 2px;
	background-color: #000;
	position: absolute;
	display: block;
}
.menu-burger-btn span:first-child {
	top: 0;
}
.menu-burger-btn span:last-child {
	bottom: 0;
}
.menu-burger-btn span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.menu-burger-btn.open span:last-child {
	transform: rotate(-45deg);
	bottom: 20px;
}
.menu-burger-btn.open span:first-child {
	transform: rotate(45deg);
	top: 18px;
}
.menu-burger-btn.open span:nth-child(2) {
	display: none;
}

/*-------------------------------------------------------------------------------------*/

.header {
	background-color: #fff;
}

.header:after {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background: #D6D6D6;
}


.header-row {
	align-items: center;
	padding: 17px 0;
}

.footer__logo,
.header__logo {
	font-family: 'Avenir' ,sans-serif;
}
.footer__logo a,
.header__logo a {
	font-weight: 900;
	text-decoration: none;
	cursor: pointer;
	color: var(--main-green);
	font-size: 40px;
}


.header__menu {
	margin-left: 175px;
}

.header__menu ul {
	display: flex;
}

.header__menu ul li {
	padding: 0 15px;
}

.header__menu ul li a {
	text-decoration: none;
	font-size: 20px;
	color: var(--main-black);
	line-height: 24px;
}

.header__contacts {
	display: flex;
	margin-left: auto;
	align-items: center;
}
.header__contacts-sign-in {
	display: flex;
}

.header__contacts-sign-in a {
	text-decoration: none;
	color: #000;
	padding-right: 35px;
	line-height: 24px;
}
/*________________________________________________________________________________*/
.first-screen {
	background-image: url(../img/BG.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	margin-bottom: var(--50);
}

.first-screen__description {
	max-width: 440px;
	padding-top: 190px;
}
.first-screen__description-text,
.first-screen__description-title {
	padding-bottom: 30px;
}

.first-screen__description-text {
	color: var(--main-black);
	line-height: 31px;
}
/*________________________________________________________________________________*/
.steps {
	padding: 50px 0 50px 0;
}

.steps__title {
	font-weight: 600;
	font-size: 24px;
	color: var(--main-black);
	padding-bottom: 10px;
}
.steps__description {
	align-items: center;
	padding-bottom: var(--50);
}

.steps__description-title {
	font-size: 50px;
	line-height: 157%;
	flex:1 0 50%;
}


.steps__description-text {
	color: var(--main-black);
	line-height: 150%;
}
.steps__items {
	justify-content: space-between;
	padding-top: var(--50);
	min-height: 1200px;
}
.steps__item {
	flex: 0 0 33%;
}


.steps__item-number,
.steps__item-title {
	font-family: 'Georgia', sans-serif;
}


.steps__item-number {
	font-size: 150px;
	color: rgba(1, 153, 109, 0.2);
	padding-bottom: var(--50);
	position: relative;
}
.steps__item-title {
	font-size: 30px;
	line-height: 150%;
	font-weight: bold;
	color: #000;
	display: block;
	position: absolute;
	top: 50%;
	left: 22%;
}

.steps__item-text {
	line-height: 150%;
	color: var(--main-black);
	padding-bottom: var(--50);
}


.steps__item-img img {
	display: block;
	width: 100%;
}

/*________________________________________________________________________________*/
.stories {
	background-color: var(--green);
}

.stories__row {
	align-items: center;
	padding: calc(var(--50)*3) 0;

}

.stories__info {
	flex: 0 0 42%;
}
.stories__info-title {
	font-size: 50px;
	color: #ffffff;
	padding-bottom: 30px;
}

.stories__info-text {
	color: #ffffff;
	padding-bottom: var(--50);
}
.stories__info-button {}

.stories__video {
	position: relative;
}
.stories__video img {
	display: block;
	width: 100%;
}
.stories__video a {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.stories__video svg {
	transition: all 0.3s;
}
.stories__video svg:hover {
	transform: scale(1.3);
}
/*___________________________________________________________________*/
.product {}
.product__wrapper {
	padding: calc(var(--50)*3) 0;
	align-items: center;
}
.product__photo {
	position: relative;
	padding-right: 45px;

}
.product__photo-img {
	display: flex;
	justify-content: flex-end;
}

.product__photo-img img{
	display: block;
	width: 70%;

}
.product__photo-card {
	max-width: 317px;
	padding: 30px 60px;
	box-shadow: 0 4px 18px rgba(165, 165, 165, 0.25);
	border-radius: 4px;
	position: absolute;
	top: 63%;
	left: 2%;
	background-color: #fff;
}
.product__photo-card-head {
	font-size: 15px;
	font-weight: 600;
	color: #000;
	text-align: center;
	position: relative;
	padding-bottom: 30px;

}
.product__photo-card-head:after{
	content: '';
	display: block;
	height: 1px;
	background: #000;
	width: 55%;
	position: absolute;
	left: 50%;
	top: 25px;
	transform: translateX(-50%);
}
.product__photo-card-photo {
	padding-bottom: 10px;
}
.product__photo-card-photo img {
	display: block;
	margin: 0 auto;
}

.product__photo-card-name {
	font-size: 11px;
	color: #000;
	text-align: center;
	padding-bottom: 20px;

}
.product__photo-card-title {
	font-weight: 700;
	text-align: center;
	padding-bottom: 15px;
}
.product__photo-card-list li {
	font-size: 10px;
	position: relative;
	margin-left: 10px;
}

.product__photo-card-list li:not(:last-child){
	margin-bottom: 15px;

}
.product__photo-card-list li:before{
	content: '';
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #000;
	left: -7px;
	top: 50%;
	transform: translateY(-50%);
}

.product__description {
	padding-left: 45px;
	flex: 0 0 50%;
	max-width: 670px;
}
.product__description-overhead {
	font-size: 25px;
	color: var(--main-black);
	padding-bottom: 10px;

}
.product__description-title {
	font-size: 50px;
	padding-bottom: 20px;

}
.product__description-text {
	color: var(--main-black);
	padding-bottom: 40px;
}
.product__description-button {}

.footer {
	background-color: var(--green);
	padding: calc(var(--50)*2) 0;
}
.footer__wrapper {
	flex-direction: column;
}
.footer__logo {
	padding-bottom: var(--50);
}
.footer__logo a {
	color: white;

}
.footer__menu ul li a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}
.footer__menu li:not(:last-child){
	margin-bottom: 50px;

}